			<h3>DYSKOGRAFIA:</h3> 
				<ul>
				<li><a href="#StoneSour">Stone Sour</a>
				<li><a href="#StoneSourSE">Stone Sour [CD & DVD]</a>
				<li><a href="#CWEM">Come What(ever) May</a>
				<li><a href="#CWEMSE">Come What(ever) May [Special Edition]</a>
				</ul>
				<hr>
<p>
<a name="StoneSour"></a>			
<img src="/images/1dysk.jpg" alt="okładka"><br>
Nazwa: Stone Sour<br>
Data wydania: 30.06.03<br>
Wytwórnia: Roadrunner Records<br><br>
01. Get Inside [3:13]<br>
02. Orchids [4:24]<br>
03. Cold Reader [3:41]<br>
04. Blotter [4:02]<br>
05. Choose [4:17]<br>
06. Monolith [3:45]<br>
07. Inhale [4:25]<br>
08. Bother [4:00]<br>
09. Blue Study [4:37]<br>
10. Take A Number [3:42]<br>
11. Idle Hands [3:57]<br>
12. Tumult [4:03]<br>
13. Omega [2:56]<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="StoneSourSE"></a>
<img src="/images/2dysk.jpg" alt="okładka"><br>
Nazwa: Stone Sour [CD & DVD] <br>
Data wydania: 21.10.03<br>
Wytwórnia: Roadrunner Records<br><br>
01. Get Inside [3:13]<br>
02. Orchids [4:24]<br>
03. Cold Reader [3:41]<br>
04. Blotter [4:02]<br>
05. Choose [4:17]<br>
06. Monolith [3:45]<br>
07. Inhale [4:25]<br>
08. Bother [4:00]<br>
09. Blue Study [4:37]<br>
10. Take A Number [3:42]<br>
11. Idle Hands [3:57]<br>
12. Tumult [4:03]<br>
13. Omega [2:56]<br>
14. Rules Of Evidence [3:44]<br>
15. The Wicked [4:55]<br>
16. Inside The Cynic [3:24]<br>
17. Kill Everybody [3:27]<br>
18. Road Hogs [3:54]<br>
19. Bother (DVD)<br>
20. Get Inside (DVD)<br>
21. Inhale (DVD)<br>
22. Behind The Scenes (DVD)<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="CWEM"></a>
<img src="/images/3dysk.jpg" alt="okładka"><br>
Nazwa: Come What(ever) May<br>
Data wydania: 01.08.06<br>
Wytwórnia: Roadrunner Records<br><br>
01. 30/30-150 [4:18]<br>
02. Come What(ever) May [3:39]<br>
03. Hell & Consequences [3:31]<br>
04. Sillyworld [4:08]<br>
05. Made Of Scars [3:23]<br>
06. Reborn [3:13]<br>
07. Your God [4:43]<br>
08. Through Glass [4:42]<br>
09. Socio [3:20]<br>
10. 1st Person [4:01]<br>
11. Cardiff [4:42]<br>
12. Zzyxz Road [5:16]<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="CWEMSE"></a>
<img src="/images/4dysk.jpg" alt="okładka"><br>
Nazwa: Come What(ever) May [Special Edition]<br>
Data wydania: 31.07.07<br>
Wytwórnia: Roadrunner Records<br><br>
Dysk 1 [CD]:<br>
01. 30/30-150 [4:18]<br>
02. Come What(ever) May [3:39]<br>
03. Hell & Consequences [3:31]<br>
04. Sillyworld [4:08]<br>
05. Made Of Scars [3:23]<br>
06. Reborn [3:13]<br>
07. Your God [4:43]<br>
08. Through Glass [4:42]<br>
09. Socio [3:20]<br>
10. 1st Person [4:01]<br>
11. Cardiff [4:42]<br>
12. Zzyxz Road [5:16]<br>
13. Suffer [3:42]<br>
14. Fruitcake [4:00]<br>
15. The Day I Let Go [05:05]<br>
16. Freeze Dry Seal [02:44]<br>
17. Wicked Game [04:27]<br>
18. The Frozen [03:04]<br>
<br>
Dysk 2 [DVD]:<br>
Teledyski:<br>
1. 30/30-150<br>
2. Through Glass<br>
3. Sillyworld<br>
<br>
Koncert z Moskwy:<br>
4. Orchids<br>
5. Take A Number<br>
6. Reborn<br>
7. Your God<br>
8. Inhale<br>
9. Come What(ever) May<br>
10. Bother<br>
11. Through Glass<br>
12. Blotter<br>
13. Hell & Consequences<br>
14. Get Inside<br>
<a href="#gora">Do góry</a><br>
</p>

