			<h3>LINKI:</h3> 
			<p>
				Oficjalna strona zespołu Stone Sour:<br>
				<a href="http://www.stonesour.com" target="_blank">StoneSour.com</a><br><br>
				Oficjalny profil zespołu Stone Sour na MySpace:<br>
				<a href="http://www.myspace.com/stonesour" target="_blank">MySpace.com/stonesour</a><br><br>
				Oficjalny profil zespołu Stone Sour na Facebook:<br>
				<a href="http://apps.facebook.com/ilike/artist/Stone+Sour" target="_blank">apps.facebook.com/ilike/artist/Stone+Sour</a><br><br>
				Polska nieoficjalna strona zespołu Stone Sour:<br>
				<a href="http://www.stonesour.yoyo.pl" target="_blank">StoneSour.yoyo.pl</a><br><br>
				Polska strona Roadrunner Records:<br>
				<a href="http://www.roadrunnerrecords.pl/" target="_blank">RoadrunnerRecords.pl</a><br><br>
				Oficjalna strona zespołu Slipknot:<br>
				<a href="http://www.slipknot1.com/" target="_blank">Slipknot1.com</a><br><br>
				Polska nieoficjalna strona zespołu Slipknot:<br>
				<a href="http://www.slipknot1.pl" target="_blank">Slipknot1.pl</a><br><br>
				
			</p>