<h3>NEWS:</h3>
<% @news.reverse_each do |news| %>
<hr>
<p>
<b><%= news.tytul %></b> <br />
<%= news.data %> <br />
<b>tresc:</b><br />
<%= news.tresc %>
</p>
<% end %>
<hr>
<p>
<%= link_to "Dodaj news", :action => "dodajnews" %>
</p>

