			<h3>SKŁAD:</h3> 
			<p>
				<img src="/images/mapa.jpg" usemap="#sklad" alt="skład zespołu">
				<map name="sklad">
				<area shape="rect" coords="1,1,150,349" href="#Josh" alt="Josh Rand">
				<area shape="rect" coords="151,110,253,315" href="#James" alt="James Root">
				<area shape="rect" coords="254,99,399,349" href="#Corey" alt="Corey Taylor">
				<area shape="rect" coords="400,50,495,290" href="#Roy" alt="Roy Mayorga">
				<area shape="rect" coords="496,1,635,305" href="#Shawn" alt="Shawn Economaki">
				</map>
				<br><br>
			</p>
<hr>
<p>
<a name="Corey"></a>
<img src="/images/corey.jpg" alt="Corey Taylor"><br>
<b>Imię:</b> Corey<br>
<b>Nazwisko:</b> Taylor<br>
<b>Miejsce w zespole:</b> Wokal<br>
<b>Krótki opis:</b> Lider zespołu. Charakteryzuje go czysty a zarazem agresywny głos. Jest autorem tekstów a także wokalistą formacji Slipknot.<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="James"></a>
<img src="/images/jim.jpg" alt="James Root"><br>
<b>Imię:</b> James<br>
<b>Nazwisko:</b> Root<br>
<b>Miejsce w zespole:</b> Gitarzysta<br>
<b>Krótki opis:</b> Jim jest gitarzystą rytmicznym, tworzy proste, a zarazem genialne riffy. Cechuje go nie przeciętny wzrost (1.98m). Jest także gitarzystą formacji Slipknot.<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="Josh"></a>
<img src="/images/josh.jpg" alt="Josh Rand"><br>
<b>Imię:</b> Josh<br>
<b>Nazwisko:</b> Rand<br>
<b>Miejsce w zespole:</b> Gitarzysta<br>
<b>Krótki opis:</b> Pełni rolę gitary prowadzącej. Jest autorem większości solówek zespołu. Jest opisywany jako nieśmiały i miły człowiek.<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="Shawn"></a>
<img src="/images/econ.jpg" alt="Shawn Economaki"><br>
<b>Imię:</b> Shawn<br>
<b>Nazwisko:</b> Economaki<br>
<b>Miejsce w zespole:</b> Basista<br>
<b>Krótki opis:</b> Poza zespołem jest członkiem ekipy technicznej Slipknot.<br>
<a href="#gora">Do góry</a><br>
</p>
<hr>
<p>
<a name="Roy"></a>
<img src="/images/roy.jpg" alt="Roy Mayorga"><br>
<b>Imię:</b> Roy<br>
<b>Nazwisko:</b> Mayorga<br>
<b>Miejsce w zespole:</b> Perkusista<br>
<b>Krótki opis:</b> Jest multiinstrumentalistą ma na koncie współpracę z Sepulturą, Soulfly i innymi do zespołu dołączył przy albumie Come What(ever) May.<br>
<a href="#gora">Do góry</a><br>
